* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --darkBlue: hsl(218, 44%, 22%);
  --grayBlue: hsl(220, 15%, 55%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--lightGray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 20em;
  background-color: var(--white);
  padding: 1em;
  border-radius: 1em;
}

img {
  max-width: 100%;
  border-radius: 1em;
}

h1,
p {
  font-size: 0.9375rem;
  margin: 1em 1em 0 1em;
  text-align: center;
}

h1 {
  font-weight: 700;
  color: var(--darkBlue);
}

p {
  font-weight: 400;
  color: var(--grayBlue);
}
