* {
  margin: 0;
  padding: 0;
}

:root {
  --darkBlue: hsl(218, 44%, 22%);
  --grayBlue: hsl(220, 15%, 55%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: #d6e1f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-container {
  height: 65vh;
  width: 20%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding: 1em;
  border-radius: 2em;
}

.qr-container img {
  height: 40vh;
  width: 100%;
  border-radius: 1em;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--darkBlue);
}

.sub {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--grayBlue);
}



@media (max-width: 1400px){
  
  .qr-container {
    height: 80vh;
    width: 25%;
  }
  
  .qr-container img {
    height: 40vh;
    width: 100%;
    border-radius: 1em;
  }
  
  .heading {
    font-size: 1.75rem;
  }
  
  .sub {
    font-size: 1.25rem;
  }
}


@media (max-width: 1200px) {
  
  .qr-container {
    height: 80vh;
    width: 50%;
  }
  
  .qr-container img {
    height: 40vh;
    width: 100%;
    border-radius: 1em;
  }
  
  .heading {
    font-size: 1.25rem;
  }
  
  .sub {
    font-size: 1rem;
  }
}