@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);

  --offWhite: hsl(36, 100%, 99%);
  --grayBlue: hsl(233, 8%, 79%);
  --darkGrayBlue: hsl(236, 13%, 42%);
  --darkBlue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style: none;
  gap: 3em;
}

.nav a {
  color: var(--darkGrayBlue);
  font-weight: 700;
}

.front-page .container {
  display: flex;
  gap: 2em;
}

.left-side img {
  width: 100%;
}

.headline {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 4rem;
  font-weight: 800;
}

.desc {
  padding-top: 0.5em;
  font-size: 1.25rem;
  color: var(--darkGrayBlue);
}

.button {
  margin-top: 2.5em;
  background-color: var(--softRed);
  color: var(--offWhite);
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  padding: 2em;
  background-color: var(--darkBlue);
}

.right-side h2 {
  font-size: 2rem;
  color: var(--softOrange);
}

.right-side ul {
  height: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-side h3 {
  color: var(--offWhite);
  margin-bottom: 1em;
}

.right-side li {
  color: var(--grayBlue);
}

hr {
  margin: 2em 0;
}

.article-view .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.article-box {
  display: flex;
  gap: 1em;
}

.article-about h1 {
  color: var(--grayBlue);
  font-size: 2.25em;
}

.article-about h2 {
  font-size: 1rem;
  color: var(--darkBlue);
}

.article-about p {
  padding-top: 2em;
}

/* Hover States */

.nav a:hover {
  color: var(--softRed);
}

.button:hover {
  background-color: var(--darkBlue);
}

.right-side h3:hover {
  color: var(--softOrange);
}

.article-about h2:hover {
  color: var(--softRed);
}

/* Mobile View */

@media only screen and (max-width: 800px) {
  .container, .headline{
    flex-direction: column;
  }

}